img {
    max-width: fit-content;
    max-height: fit-content;
}

.Upscale_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 50px;
}

.Upscale_head h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: 'Gilroy';
}

.Upscale_head h1 span {
  background: linear-gradient(to right, #3F0BBC, #FF34F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Upscale_head p {
  font-family: 'Gopher';
  text-align: center;
  width: 1200px;
}

.fade-out {
  opacity: 1;
  transition: opacity 1.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 180px;
}

.hidden {
  opacity: 0;
  transition: opacity 1.5s ease-out;
  pointer-events: none; /* Optional: to disable any interaction during animation */
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.wrapper:hover {
  cursor: pointer;
}

.question {
  color: #a9a9a9;
  transition: 0.5s;
}

.question:hover {
  cursor: pointer;
  color: black;
}